<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Question Book</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body style="transform: perspective(0px) translate(0px);">
    <%- include ("Partials/navbar.ejs") %>

        <form class="border rounded shadow p-3 p-md-4 p-lg-5" method="post" style="width: 90%; margin: 2% auto;">
            <h1>Add Paper</h1>
            <label class="form-label">College Name:&nbsp;</label>
            <div class="mb-3">

                <select name="college" id="college" onchange="showDiv(['sessionOf','branchOf'],this)"
                    class="form-control">
                    <option value="">Select College</option>
                    <% for(var i=0; i < colleges.length; i++) { %>
                        <option value="<%= colleges[i]._id %>">
                            <%= colleges[i].instituteName %>
                        </option>
                        <% } %>
                </select>
                <a class="" href="/addInstitute">Add new Institute</a>
            </div>
            <% for(var i=0; i < colleges.length; i++) { %>

                <div id="sessionOf<%= colleges[i]._id %>" class="mb-3" style="display: none;">
                    <label class="form-label">Session :&nbsp;</label>
                    <select name="session" id="session" class="form-control">
                        <option value="">Select Session</option>
                        <% for(var j=0; j < colleges[i].sessions.length; j++) { %>
                            <option value="<%= colleges[i].sessions[j] %>">
                                <%= colleges[i].sessions[j] %>
                            </option>
                            <% } %>
                    </select>
                    <a class="" href="/addSession">Add new Session</a>
                </div>
                <% } %>
                    <% for(var i=0; i < colleges.length; i++) { %>

                        <div id="branchOf<%= colleges[i]._id %>" class="mb-3" style="display: none;">
                            <label class="form-label">Branch :&nbsp;</label>
                            <select name="branch" id="branch" class="form-control">
                                <option value="">Select Branch</option>
                                <% for(var j=0; j < colleges[i].branches.length; j++) { %>
                                    <option value="<%= colleges[i].branches[j] %>">
                                        <%= colleges[i].branches[j] %>
                                    </option>
                                    <% } %>
                            </select>
                            <a class="" href="/addBranch">Add new Branch</a>
                        </div>
                        <% } %>
                            <label class="form-label">Title :&nbsp;</label>
                            <div class="mb-3">
                                <input type="text" name="title" id="title" class="form-control"
                                    placeholder="Paper name">
                            </div>
                            <label class="form-label">Exam Type :&nbsp;</label>
                            <div class="mb-3">
                                <input type="text" name="examType" id="examType" class="form-control"
                                    placeholder="End Semester/Mid Semester/Class Test">
                            </div>
                            <label class="form-label">PDF :&nbsp;</label>
                            <div class="mb-3">
                                <input type="file" name="question" id="file">
                                <p><i>file must be less than 4 MB and a PDF</i></p>
                            </div>
                            <div class="mb-3"><button class="btn btn-primary" type="submit">ADD</button>
                            </div>
        </form>

        <%- include("Partials/footer.ejs") %>
            <script src="bootstrap/js/bootstrap.min.js"></script>

            <script>
                function showDiv(prefix, chooser) {
                    var selectedOption = (chooser.options[chooser.selectedIndex].value);

                    prefix.forEach(element => {
                        var div = document.getElementById(element + selectedOption);
                        div.style.display = 'block';
                    });

                    for (var i = 0; i < chooser.options.length; i++) {
                        if (chooser.options[i].value != selectedOption) {
                            prefix.forEach(element => {
                                var div = document.getElementById(element + chooser.options[i].value);
                                div.style.display = 'none';
                            });
                        }
                    }
                }
            </script>
</body>

</html>